<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Coupon>
      <version>3.0.0</version>
    </Brontosoftware_Coupon>
  </modules>
  <global>
    <helpers>
      <brontosoftware_coupon>
        <class>Brontosoftware_Coupon_Helper</class>
      </brontosoftware_coupon>
    </helpers>
    <models>
      <brontosoftware_coupon>
        <class>Brontosoftware_Coupon_Model</class>
      </brontosoftware_coupon>
    </models>
    <resources>
      <brontosoftware_coupon_setup>
        <setup>
          <module>Brontosoftware_Coupon</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_coupon_setup>
      <brontosoftware_coupon_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_coupon_read>
      <brontosoftware_coupon_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_coupon_write>
    </resources>
    <events>
      <brontosoftware_connector_source_coupon_code>
        <observers>
          <brontosoftware_coupon_source_coupon>
            <type>singleton</type>
            <class>brontosoftware_coupon/observer</class>
            <method>pullCouponSpecific</method>
          </brontosoftware_coupon_source_coupon>
        </observers>
      </brontosoftware_connector_source_coupon_code>
      <brontosoftware_connector_source_coupon_pool>
        <observers>
          <brontosoftware_coupon_source_coupon_pool>
            <type>singleton</type>
            <class>brontosoftware_coupon/observer</class>
            <method>pullCouponPools</method>
          </brontosoftware_coupon_source_coupon_pool>
        </observers>
      </brontosoftware_connector_source_coupon_pool>
      <brontosoftware_connector_trigger_flush>
        <observers>
          <brontosoftware_coupon_trigger_flush_handle>
            <type>singleton</type>
            <class>brontosoftware_coupon/observer</class>
            <method>triggerReplenish</method>
          </brontosoftware_coupon_trigger_flush_handle>
        </observers>
      </brontosoftware_connector_trigger_flush>
      <brontosoftware_connector_script_coupon_event>
        <observers>
          <brontosoftware_coupon_script_event_handle>
            <type>singleton</type>
            <class>brontosoftware_coupon/observer</class>
            <method>replenishCoupons</method>
          </brontosoftware_coupon_script_event_handle>
        </observers>
      </brontosoftware_connector_script_coupon_event>
      <brontosoftware_connector_gather_endpoints>
        <observers>
          <brontosoftware_coupon_gather_endpoints_handle>
            <type>singleton</type>
            <class>brontosoftware_coupon/observer</class>
            <method>gatherEndpoints</method>
          </brontosoftware_coupon_gather_endpoints_handle>
        </observers>
      </brontosoftware_connector_gather_endpoints>
      <brontosoftware_connector_coupon_endpoint>
        <observers>
          <brontosoftware_connector_coupon_endpoint_handle>
            <type>singleton</type>
            <class>brontosoftware_coupon/observer</class>
            <method>endpointInfo</method>
          </brontosoftware_connector_coupon_endpoint_handle>
        </observers>
      </brontosoftware_connector_coupon_endpoint>
      <brontosoftware_connector_advanced_endpoint_additional>
        <observers>
          <brontosoftware_connector_advanced_coupon_endpoint_handle>
            <type>singleton</type>
            <class>brontosoftware_coupon/observer</class>
            <method>advancedAdditional</method>
          </brontosoftware_connector_advanced_coupon_endpoint_handle>
        </observers>
      </brontosoftware_connector_advanced_endpoint_additional>
      <brontosoftware_connector_script_coupon_historical>
        <observers>
          <brontosoftware_coupon_script_historical>
            <type>singleton</type>
            <class>brontosoftware_coupon/observer</class>
            <method>historicalImport</method>
          </brontosoftware_coupon_script_historical>
        </observers>
      </brontosoftware_connector_script_coupon_historical>
      <brontosoftware_email_message_extras>
        <observers>
          <brontosoftware_coupon_message_extras>
            <type>singleton</type>
            <class>brontosoftware_coupon/observer</class>
            <method>messageExtras</method>
          </brontosoftware_coupon_message_extras>
        </observers>
      </brontosoftware_email_message_extras>
      <brontosoftware_email_template_filter>
        <observers>
          <brontosoftware_coupon_template_filter>
            <type>singleton</type>
            <class>brontosoftware_coupon/observer</class>
            <method>eventFilter</method>
          </brontosoftware_coupon_template_filter>
        </observers>
      </brontosoftware_email_template_filter>
      <brontosoftware_connector_redirect_coupon>
        <observers>
          <brontosoftware_connector_redirect_coupon_handle>
            <type>singleton</type>
            <class>brontosoftware_coupon/observer</class>
            <method>applyCoupon</method>
          </brontosoftware_connector_redirect_coupon_handle>
        </observers>
      </brontosoftware_connector_redirect_coupon>
      <checkout_cart_product_add_after>
        <observers>
          <brontosoftware_coupon_session_add_product>
            <type>singleton</type>
            <class>brontosoftware_coupon/observer</class>
            <method>applyCodeOnCartAfterItem</method>
          </brontosoftware_coupon_session_add_product>
        </observers>
      </checkout_cart_product_add_after>
    </events>
  </global>
  <frontend>
    <routers>
      <brontosoftware_coupon>
        <use>standard</use>
        <args>
          <module>Brontosoftware_Coupon</module>
          <frontName>apply</frontName>
        </args>
      </brontosoftware_coupon>
    </routers>
  </frontend>
</config>
