<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_TargetRule>
      <version>3.0.0</version>
    </Brontosoftware_TargetRule>
  </modules>
  <global>
    <helpers>
      <brontosoftware_targetrule>
        <class>Brontosoftware_TargetRule_Helper</class>
      </brontosoftware_targetrule>
    </helpers>
    <models>
      <brontosoftware_targetrule>
        <class>Brontosoftware_TargetRule_Model</class>
      </brontosoftware_targetrule>
      <brontosoftware_recommendation>
        <rewrite>
          <source_factory>Brontosoftware_TargetRule_Model_Source_Factory</source_factory>
        </rewrite>
      </brontosoftware_recommendation>
    </models>
    <resources>
      <brontosoftware_targetrule_setup>
        <setup>
          <module>Brontosoftware_TargetRule</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_targetrule_setup>
      <brontosoftware_targetrule_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_targetrule_write>
      <brontosoftware_targetrule_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_targetrule_read>
    </resources>
  </global>
</config>
