<?xml version="1.0"?>
<!--
/**
 * @category  Bronto
 * @package   Bronto_Roundtrip
 * @author    Adam Daniels <adam.daniels@atlanticbt.com>
 * @copyright 2012 Adam Daniels
 * @license   http://www.atlanticbt.com/ Atlantic BT
 */
-->
<config>
    <modules>
        <Bronto_Roundtrip>
            <version>0.1.0</version>
        </Bronto_Roundtrip>
    </modules>
    <global>
        <blocks>
            <bronto_roundtrip>
                <class>Bronto_Roundtrip_Block</class>
            </bronto_roundtrip>
        </blocks>
        <helpers>
            <bronto_roundtrip>
                <class>Bronto_Roundtrip_Helper</class>
            </bronto_roundtrip>
        </helpers>
        <models>
            <bronto_roundtrip>
                <class>Bronto_Roundtrip_Model</class>
            </bronto_roundtrip>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_roundtrip before="Mage_Adminhtml">Bronto_Roundtrip_Adminhtml</bronto_roundtrip>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bronto_roundtrip>
                    <file>bronto/roundtrip.xml</file>
                </bronto_roundtrip>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bronto_roundtrip translate="title" module="bronto_roundtrip">
                                            <title>Bronto Roundtrip Verification</title>
                                            <sort_order>900</sort_order>
                                        </bronto_roundtrip>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <phpunit>
    	<suite>
	    <modules>
		<Bronto_Roundtrip />
            </modules>
        </suite>
    </phpunit>
</config>
