<?xml version="1.0"?>
<config>
    <sections>
        <bronto_roundtrip translate="label" module="bronto_roundtrip">
            <label>Install Verification</label>
            <tab>bronto</tab>
            <sort_order>900</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <status>
                    <frontend_type>text</frontend_type>
                    <frontend_model>bronto_roundtrip/adminhtml_system_config_status</frontend_model>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </status>
            </groups>
        </bronto_roundtrip>
    </sections>
</config>
