<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Cart>
      <version>3.0.0</version>
    </Brontosoftware_Cart>
  </modules>
  <global>
    <helpers>
      <brontosoftware_cart>
        <class>Brontosoftware_Cart_Helper</class>
      </brontosoftware_cart>
    </helpers>
    <models>
      <brontosoftware_cart>
        <class>Brontosoftware_Cart_Model</class>
      </brontosoftware_cart>
    </models>
    <resources>
      <brontosoftware_cart_setup>
        <setup>
          <module>Brontosoftware_Cart</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_cart_setup>
      <brontosoftware_cart_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_cart_read>
      <brontosoftware_cart_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_cart_write>
    </resources>
    <events>
      <brontosoftware_connector_queue_cart_transform>
        <observers>
          <brontosoftware_connector_queue_cart_transform_handle>
            <type>singleton</type>
            <class>brontosoftware_cart/observer</class>
            <method>transformEvent</method>
          </brontosoftware_connector_queue_cart_transform_handle>
        </observers>
      </brontosoftware_connector_queue_cart_transform>
      <sales_model_service_quote_submit_success>
        <observers>
          <brontosoftware_cart_quote_submitted>
            <type>singleton</type>
            <class>brontosoftware_cart/observer</class>
            <method>pushChanges</method>
          </brontosoftware_cart_quote_submitted>
        </observers>
      </sales_model_service_quote_submit_success>
      <brontosoftware_connector_integration_endpoint_additional>
        <observers>
          <brontosoftware_connector_cart_endpoint_handle>
            <type>singleton</type>
            <class>brontosoftware_cart/observer</class>
            <method>integrationAdditional</method>
          </brontosoftware_connector_cart_endpoint_handle>
        </observers>
      </brontosoftware_connector_integration_endpoint_additional>
    </events>
  </global>
  <frontend>
    <events>
      <sales_quote_save_after>
        <observers>
          <brontosoftware_cart_quote_save_after>
            <type>singleton</type>
            <class>brontosoftware_cart/observer</class>
            <method>pushChanges</method>
          </brontosoftware_cart_quote_save_after>
        </observers>
      </sales_quote_save_after>
      <brontosoftware_site_fiddle>
        <observers>
          <brontosoftware_cart_site_fiddle>
            <type>singleton</type>
            <class>brontosoftware_cart/observer</class>
            <method>handleSiteFiddle</method>
          </brontosoftware_cart_site_fiddle>
        </observers>
      </brontosoftware_site_fiddle>
      <brontosoftware_cart_fiddle>
        <observers>
          <brontosoftware_cart_fiddle_handle>
            <type>singleton</type>
            <class>brontosoftware_cart/observer</class>
            <method>pushChanges</method>
          </brontosoftware_cart_fiddle_handle>
        </observers>
      </brontosoftware_cart_fiddle>
    </events>
    <routers>
      <brontosoftware_connector>
        <args>
          <modules>
            <brontosoftware_cart before="Brontosoftware_Connector">Brontosoftware_Cart</brontosoftware_cart>
          </modules>
        </args>
      </brontosoftware_connector>
    </routers>
    <layout>
      <updates>
        <brontosoftware_cart>
          <file>brontosoftware/cart.xml</file>
        </brontosoftware_cart>
      </updates>
    </layout>
  </frontend>
</config>
