<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Balance>
      <version>3.0.0</version>
    </Brontosoftware_Balance>
  </modules>
  <global>
    <helpers>
      <brontosoftware_balance>
        <class>Brontosoftware_Balance_Helper</class>
      </brontosoftware_balance>
    </helpers>
    <models>
      <brontosoftware_balance>
        <class>Brontosoftware_Balance_Model</class>
      </brontosoftware_balance>
    </models>
    <resources>
      <brontosoftware_balance_setup>
        <setup>
          <module>Brontosoftware_Balance</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_balance_setup>
      <brontosoftware_balance_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_balance_write>
      <brontosoftware_balance_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_balance_read>
    </resources>
    <events>
      <brontosoftware_contact_extra_contact_attributes>
        <observers>
          <brontosoftware_balance_contact_extra_attributes>
            <type>singleton</type>
            <class>brontosoftware_balance/observer</class>
            <method>contactLoadFields</method>
          </brontosoftware_balance_contact_extra_attributes>
        </observers>
      </brontosoftware_contact_extra_contact_attributes>
      <brontosoftware_connector_contact_endpoint_additional>
        <observers>
          <brontosoftware_balance_contact_fields_attributes>
            <type>singleton</type>
            <class>brontosoftware_balance/observer</class>
            <method>contactAdditional</method>
          </brontosoftware_balance_contact_fields_attributes>
        </observers>
      </brontosoftware_connector_contact_endpoint_additional>
    </events>
  </global>
</config>
