<?xml version="1.0"?>
<config>
    <sections>
        <conflicted_modules translate="label" module="core">
            <label>Conflict Checker</label>
            <tab>bronto</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <about>
                    <frontend_type>text</frontend_type>
                    <frontend_model>bronto_conflictchecker/adminhtml_system_config_about</frontend_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </about>
                <conflictchecker>
                    <frontend_type>text</frontend_type>
                    <frontend_model>bronto_conflictchecker/adminhtml_system_config_conflictchecker</frontend_model>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </conflictchecker>
            </groups>
        </conflicted_modules>
    </sections>
</config>
