<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Order>
            <version>1.1.5</version>
        </Bronto_Order>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <bronto_tid><to_order>*</to_order></bronto_tid>
            </sales_convert_quote>
            <sales_convert_order>
                <bronto_tid><to_quote>*</to_quote></bronto_tid>
            </sales_convert_order>
        </fieldsets>
        <helpers>
            <bronto_order>
                <class>Bronto_Order_Helper</class>
            </bronto_order>
        </helpers>
        <blocks>
            <bronto_order>
                <class>Bronto_Order_Block</class>
            </bronto_order>
        </blocks>
        <models>
            <bronto_order>
                <class>Bronto_Order_Model</class>
                <resourceModel>bronto_order_resource</resourceModel>
            </bronto_order>
            <bronto_order_resource>
                <class>Bronto_Order_Model_Resource</class>
            </bronto_order_resource>
        </models>
        <resources>
            <bronto_order_setup>
                <setup>
                    <module>Bronto_Order</module>
                    <class>Bronto_Order_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bronto_order_setup>
            <bronto_order_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bronto_order_write>
            <bronto_order_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bronto_order_read>
        </resources>
        <events>
            <sales_order_save_before>
                <observers>
                    <bronto_order_sales_order_save_before>
                        <type>singleton</type>
                        <class>bronto_order/order_observer</class>
                        <method>markOrderForReimport</method>
                    </bronto_order_sales_order_save_before>
                </observers>
            </sales_order_save_before>
            <sales_order_creditmemo_refund>
                <observers>
                    <bronto_order_sales_order_creditmemo_refund>
                        <type>singleton</type>
                        <class>bronto_order/order_observer</class>
                        <method>resetCreditMemoOrder</method>
                    </bronto_order_sales_order_creditmemo_refund>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_order_payment_cancel>
                <observers>
                    <bronto_order_sales_order_payment_cancel>
                        <type>singleton</type>
                        <class>bronto_order/order_observer</class>
                        <method>resetPaymentCancelOrder</method>
                    </bronto_order_sales_order_payment_cancel>
                </observers>
            </sales_order_payment_cancel>
        </events>
    </global>
    <frontend>
        <events>
            <sales_quote_save_before>
                <observers>
                    <bronto_order_sales_quote_save_before>
                        <type>singleton</type>
                        <class>bronto_order/quote_observer</class>
                        <method>addTidToQuote</method>
                    </bronto_order_sales_quote_save_before>
                </observers>
            </sales_quote_save_before>
        </events>
    </frontend>
    <admin>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_view_tab_info>bronto_order/adminhtml_sales_order_view_tab_info</sales_order_view_tab_info>
                </rewrite>
            </adminhtml>
        </blocks>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_order before="Mage_Adminhtml">Bronto_Order_Adminhtml</bronto_order>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <bronto_order>
            <settings>
                <enabled>0</enabled>
                <frequency>D</frequency>
                <interval>15</interval>
                <minutes>0</minutes>
                <limit>250</limit>
                <description_attribute>short_description</description_attribute>
            </settings>
        </bronto_order>
    </default>
    <crontab>
        <jobs>
            <bronto_order_import>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>bronto_order/observer::processOrders</model></run>
            </bronto_order_import>
        </jobs>
    </crontab>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <bronto_order_controller_action_predispatch>
                        <class>bronto_order/observer</class>
                        <method>checkBrontoRequirements</method>
                    </bronto_order_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bronto_order module="bronto_order">
                                            <title>Bronto Order Import Section</title>
                                        </bronto_order>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Bronto_Order />
            </modules>
        </suite>
    </phpunit>
</config>
