<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Verify>
      <version>3.0.0</version>
    </Brontosoftware_Verify>
  </modules>
  <global>
    <helpers>
      <brontosoftware_verify>
        <class>Brontosoftware_Verify_Helper</class>
      </brontosoftware_verify>
    </helpers>
    <models>
      <brontosoftware_verify>
        <class>Brontosoftware_Verify_Model</class>
      </brontosoftware_verify>
    </models>
    <resources>
      <brontosoftware_verify_setup>
        <setup>
          <module>Brontosoftware_Verify</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_verify_setup>
      <brontosoftware_verify_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_verify_read>
      <brontosoftware_verify_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_verify_write>
    </resources>
    <events>
      <brontosoftware_connector_advanced_endpoint_additional>
        <observers>
          <brontosoftware_connector_verify_advanced>
            <type>singleton</type>
            <class>brontosoftware_verify/observer</class>
            <method>advancedAdditional</method>
          </brontosoftware_connector_verify_advanced>
        </observers>
      </brontosoftware_connector_advanced_endpoint_additional>
      <brontosoftware_connector_script_verify_test>
        <observers>
          <brontosoftware_connector_script_verify_test_handle>
            <type>singleton</type>
            <class>brontosoftware_verify/observer</class>
            <method>previewConflict</method>
          </brontosoftware_connector_script_verify_test_handle>
        </observers>
      </brontosoftware_connector_script_verify_test>
    </events>
  </global>
</config>
