<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Notification>
      <version>3.0.0</version>
    </Brontosoftware_Notification>
  </modules>
  <global>
    <helpers>
      <brontosoftware_notification>
        <class>Brontosoftware_Notification_Helper</class>
      </brontosoftware_notification>
    </helpers>
    <models>
      <brontosoftware_notification>
        <class>Brontosoftware_Notification_Model</class>
      </brontosoftware_notification>
    </models>
    <resources>
      <brontosoftware_notification_setup>
        <setup>
          <module>Brontosoftware_Notification</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_notification_setup>
      <brontosoftware_notification_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_notification_read>
      <brontosoftware_notification_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_notification_write>
    </resources>
    <events>
      <brontosoftware_connector_advanced_endpoint_additional>
        <observers>
          <brontosoftware_connector_notification_advanced>
            <type>singleton</type>
            <class>brontosoftware_notification/observer</class>
            <method>advancedAdditional</method>
          </brontosoftware_connector_notification_advanced>
        </observers>
      </brontosoftware_connector_advanced_endpoint_additional>
      <brontosoftware_connector_script_notification_event>
        <observers>
          <brontosoftware_connector_notification_event>
            <type>singleton</type>
            <class>brontosoftware_notification/observer</class>
            <method>createNotifications</method>
          </brontosoftware_connector_notification_event>
        </observers>
      </brontosoftware_connector_script_notification_event>
    </events>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <brontosoftware_notification before="Mage_Adminhtml">Brontosoftware_Notification_Adminhtml</brontosoftware_notification>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config>
