<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Migration>
      <version>3.0.0</version>
    </Brontosoftware_Migration>
  </modules>
  <global>
    <helpers>
      <brontosoftware_migration>
        <class>Brontosoftware_Migration_Helper</class>
      </brontosoftware_migration>
    </helpers>
    <models>
      <brontosoftware_migration>
        <class>Brontosoftware_Migration_Model</class>
      </brontosoftware_migration>
    </models>
    <resources>
      <brontosoftware_migration_setup>
        <setup>
          <module>Brontosoftware_Migration</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_migration_setup>
      <brontosoftware_migration_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_migration_read>
      <brontosoftware_migration_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_migration_write>
    </resources>
    <events>
      <brontosoftware_connector_advanced_endpoint_additional>
        <observers>
          <brontosoftware_connector_migration_advanced>
            <type>singleton</type>
            <class>brontosoftware_migration/observer</class>
            <method>advancedAdditional</method>
          </brontosoftware_connector_migration_advanced>
        </observers>
      </brontosoftware_connector_advanced_endpoint_additional>
      <brontosoftware_connector_script_migration_test>
        <observers>
          <brontosoftware_connector_script_migration_test_handle>
            <type>singleton</type>
            <class>brontosoftware_migration/observer</class>
            <method>previewMigration</method>
          </brontosoftware_connector_script_migration_test_handle>
        </observers>
      </brontosoftware_connector_script_migration_test>
    </events>
  </global>
</config>
