<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Order>
      <version>3.0.0</version>
    </Brontosoftware_Order>
  </modules>
  <global>
    <helpers>
      <brontosoftware_order>
        <class>Brontosoftware_Order_Helper</class>
      </brontosoftware_order>
    </helpers>
    <models>
      <brontosoftware_order>
        <class>Brontosoftware_Order_Model</class>
      </brontosoftware_order>
    </models>
    <resources>
      <brontosoftware_order_setup>
        <setup>
          <module>Brontosoftware_Order</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_order_setup>
      <brontosoftware_order_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_order_read>
      <brontosoftware_order_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_order_write>
    </resources>
    <events>
      <brontosoftware_connector_queue_order_transform>
        <observers>
          <brontosoftware_connector_queue_order_transform_handle>
            <type>singleton</type>
            <class>brontosoftware_order/observer</class>
            <method>transformEvent</method>
          </brontosoftware_connector_queue_order_transform_handle>
        </observers>
      </brontosoftware_connector_queue_order_transform>
      <sales_order_save_after>
        <observers>
          <brontosoftware_order_order_save_after_handle>
            <type>singleton</type>
            <class>brontosoftware_order/observer</class>
            <method>pushChanges</method>
          </brontosoftware_order_order_save_after_handle>
        </observers>
      </sales_order_save_after>
      <brontosoftware_connector_script_order_test>
        <observers>
          <brontosoftware_order_script_test_handle>
            <type>singleton</type>
            <class>brontosoftware_order/observer</class>
            <method>testImport</method>
          </brontosoftware_order_script_test_handle>
        </observers>
      </brontosoftware_connector_script_order_test>
      <brontosoftware_connector_script_order_historical>
        <observers>
          <brontosoftware_order_script_historical_handle>
            <type>singleton</type>
            <class>brontosoftware_order/observer</class>
            <method>historicalImport</method>
          </brontosoftware_order_script_historical_handle>
        </observers>
      </brontosoftware_connector_script_order_historical>
      <brontosoftware_connector_gather_endpoints>
        <observers>
          <brontosoftware_order_gather_endpoints_handle>
            <type>singleton</type>
            <class>brontosoftware_order/observer</class>
            <method>gatherEndpoints</method>
          </brontosoftware_order_gather_endpoints_handle>
        </observers>
      </brontosoftware_connector_gather_endpoints>
      <brontosoftware_connector_order_endpoint>
        <observers>
          <brontosoftware_connector_order_endpoint_handle>
            <type>singleton</type>
            <class>brontosoftware_order/observer</class>
            <method>endpointInfo</method>
          </brontosoftware_connector_order_endpoint_handle>
        </observers>
      </brontosoftware_connector_order_endpoint>
      <brontosoftware_connector_advanced_endpoint_additional>
        <observers>
          <brontosoftware_connector_order_advanced>
            <type>singleton</type>
            <class>brontosoftware_order/observer</class>
            <method>advancedAdditional</method>
          </brontosoftware_connector_order_advanced>
        </observers>
      </brontosoftware_connector_advanced_endpoint_additional>
    </events>
  </global>
  <frontend>
    <layout>
      <updates>
        <brontosoftware_order>
          <file>brontosoftware/order.xml</file>
        </brontosoftware_order>
      </updates>
    </layout>
  </frontend>
</config>
