<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Common>
            <version>2.0.2.1</version>
        </Bronto_Common>
    </modules>
    <global>
        <blocks>
            <bronto_common>
                <class>Bronto_Common_Block</class>
            </bronto_common>
        </blocks>
        <helpers>
            <bronto_common>
                <class>Bronto_Common_Helper</class>
            </bronto_common>
        </helpers>
        <models>
            <bronto_common>
                <class>Bronto_Common_Model</class>
            </bronto_common>
        </models>
        <resources>
            <bronto_common_setup>
                <setup>
                    <module>Bronto_Common</module>
                    <class>Bronto_Common_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bronto_common_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <bronto_common>
                <use>standard</use>
                <args>
                    <module>Bronto_Common</module>
                    <frontName>bronto</frontName>
                </args>
            </bronto_common>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <bronto_common_controller_action_predispatch>
                        <class>bronto_common/observer</class>
                        <method>checkBrontoRequirements</method>
                    </bronto_common_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bronto>
                                            <title>Bronto General Section</title>
                                        </bronto>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <bronto>
            <settings>
                <debug>1</debug>
                <verbose>0</verbose>
                <test>0</test>
                <notices>0</notices>
            </settings>
        </bronto>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Bronto_Common />
            </modules>
        </suite>
    </phpunit>
</config>
