<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Common>
            <version>2.2.0</version>
        </Bronto_Common>
    </modules>
    <global>
        <blocks>
            <bronto_common>
                <class>Bronto_Common_Block</class>
            </bronto_common>
        </blocks>
        <helpers>
            <bronto_common>
                <class>Bronto_Common_Helper</class>
            </bronto_common>
        </helpers>
        <models>
            <bronto_common>
                <class>Bronto_Common_Model</class>
            </bronto_common>
        </models>
        <resources>
            <bronto_common_setup>
                <setup>
                    <module>Bronto_Common</module>
                    <class>Bronto_Common_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bronto_common_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <bronto_common>
                    <file>bronto/common.xml</file>
                </bronto_common>
            </updates>
        </layout>
        <routers>
            <bronto_common>
                <use>standard</use>
                <args>
                    <module>Bronto_Common</module>
                    <frontName>bronto</frontName>
                </args>
            </bronto_common>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_common before="Mage_Adminhtml">Bronto_Common_Adminhtml</bronto_common>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bronto_common>
                    <file>bronto/common.xml</file>
                </bronto_common>
            </updates>
        </layout>
        <events>
            <bronto_disable>
                <observers>
                    <bronto_common_disable>
                        <class>bronto_common/observer</class>
                        <method>watchDisableAction</method>
                    </bronto_common_disable>
                </observers>
            </bronto_disable>
            <controller_action_predispatch>
                <observers>
                    <bronto_common_controller_action_predispatch>
                        <class>bronto_common/observer</class>
                        <method>checkBrontoRequirements</method>
                    </bronto_common_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <bronto_common_registration_form_submit>
                        <class>bronto_common/observer</class>
                        <method>registerExtension</method>
                    </bronto_common_registration_form_submit>
                </observers>
            </controller_action_predispatch_adminhtml>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <bronto_common_delete_archives>
                <!-- Run once a day -->
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>bronto_common/observer::clearArchives</model>
                </run>
            </bronto_common_delete_archives>
        </jobs>
    </crontab>
    <default>
        <bronto>
            <settings>
                <enabled>1</enabled>
                <debug>1</debug>
                <verbose>0</verbose>
                <test>0</test>
                <notices>0</notices>
            </settings>
            <format>
                <image_type>small_image</image_type>
                <image_width>88</image_width>
                <image_height>77</image_height>
                <default_greeting>Valued Customer</default_greeting>
                <default_greeting_prefix></default_greeting_prefix>
                <default_greeting_firstname></default_greeting_firstname>
                <default_greeting_lastname></default_greeting_lastname>
            </format>
            <support>
                <registered>0</registered>
                <using_solution_partner>1</using_solution_partner>
            </support>
        </bronto>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Bronto_Common/>
            </modules>
        </suite>
    </phpunit>
</config>
