<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Browse>
      <version>3.0.0</version>
    </Brontosoftware_Browse>
  </modules>
  <global>
    <blocks>
      <brontosoftware_browse>
        <class>Brontosoftware_Browse_Block</class>
      </brontosoftware_browse>
    </blocks>
    <helpers>
      <brontosoftware_browse>
        <class>Brontosoftware_Browse_Helper</class>
      </brontosoftware_browse>
    </helpers>
    <models>
      <brontosoftware_browse>
        <class>Brontosoftware_Browse_Model</class>
      </brontosoftware_browse>
    </models>
    <resources>
      <brontosoftware_browse_setup>
        <setup>
          <module>Brontosoftware_Browse</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_browse_setup>
      <brontosoftware_browse_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_browse_read>
      <brontosoftware_browse_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_browse_write>
    </resources>
    <events>
      <brontosoftware_connector_queue_browse_transform>
        <observers>
          <brontosoftware_connector_queue_browse_transform_handle>
            <type>singleton</type>
            <class>brontosoftware_browse/observer</class>
            <method>transformEvent</method>
          </brontosoftware_connector_queue_browse_transform_handle>
        </observers>
      </brontosoftware_connector_queue_browse_transform>
      <brontosoftware_connector_integration_endpoint_additional>
        <observers>
          <brontosoftware_connector_browse_endpoint_handle>
            <type>singleton</type>
            <class>brontosoftware_browse/observer</class>
            <method>integrationAdditional</method>
          </brontosoftware_connector_browse_endpoint_handle>
        </observers>
      </brontosoftware_connector_integration_endpoint_additional>
    </events>
  </global>
  <frontend>
    <events>
      <brontosoftware_site_fiddle>
        <observers>
          <brontosoftware_browse_site_fiddle>
            <type>singleton</type>
            <class>brontosoftware_browse/observer</class>
            <method>handleSiteFiddle</method>
          </brontosoftware_browse_site_fiddle>
        </observers>
      </brontosoftware_site_fiddle>
      <brontosoftware_browse_event>
        <observers>
          <brontosoftware_browse_event_handle>
            <type>singleton</type>
            <class>brontosoftware_browse/observer</class>
            <method>pushChanges</method>
          </brontosoftware_browse_event_handle>
        </observers>
      </brontosoftware_browse_event>
    </events>
    <routers>
      <brontosoftware_connector>
        <args>
          <modules>
            <brontosoftware_browse before="Brontosoftware_Connector">Brontosoftware_Browse</brontosoftware_browse>
          </modules>
        </args>
      </brontosoftware_connector>
    </routers>
    <layout>
      <updates>
        <brontosoftware_browse>
          <file>brontosoftware/browse.xml</file>
        </brontosoftware_browse>
      </updates>
    </layout>
  </frontend>
</config>
