<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Recommendation>
      <version>3.0.0</version>
    </Brontosoftware_Recommendation>
  </modules>
  <global>
    <helpers>
      <brontosoftware_recommendation>
        <class>Brontosoftware_Recommendation_Helper</class>
      </brontosoftware_recommendation>
    </helpers>
    <models>
      <brontosoftware_recommendation>
        <class>Brontosoftware_Recommendation_Model</class>
      </brontosoftware_recommendation>
    </models>
    <resources>
      <brontosoftware_recommendation_setup>
        <setup>
          <module>Brontosoftware_Recommendation</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_recommendation_setup>
      <brontosoftware_recommendation_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_recommendation_write>
      <brontosoftware_recommendation_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_recommendation_read>
    </resources>
    <events>
      <brontosoftware_connector_gather_endpoints>
        <observers>
          <brontosoftware_recommendation_gather_endpoints_handle>
            <type>singleton</type>
            <class>brontosoftware_recommendation/observer</class>
            <method>gatherEndpoints</method>
          </brontosoftware_recommendation_gather_endpoints_handle>
        </observers>
      </brontosoftware_connector_gather_endpoints>
      <brontosoftware_connector_recommendation_endpoint>
        <observers>
          <brontosoftware_connector_recommendation_endpoint_handle>
            <type>singleton</type>
            <class>brontosoftware_recommendation/observer</class>
            <method>endpointInfo</method>
          </brontosoftware_connector_recommendation_endpoint_handle>
        </observers>
      </brontosoftware_connector_recommendation_endpoint>
      <brontosoftware_connector_advanced_endpoint_additional>
        <observers>
          <brontosoftware_connector_recommendation_advanced>
            <type>singleton</type>
            <class>brontosoftware_recommendation/observer</class>
            <method>advancedAdditional</method>
          </brontosoftware_connector_recommendation_advanced>
        </observers>
      </brontosoftware_connector_advanced_endpoint_additional>
      <brontosoftware_connector_trigger_flush>
        <observers>
          <brontosoftware_recommendation_trigger_flush_handle>
            <type>singleton</type>
            <class>brontosoftware_recommendation/observer</class>
            <method>triggerReportIndex</method>
          </brontosoftware_recommendation_trigger_flush_handle>
        </observers>
      </brontosoftware_connector_trigger_flush>
      <brontosoftware_connector_script_recommendation_event>
        <observers>
          <brontosoftware_recommendation_refresh_index>
            <type>singleton</type>
            <class>brontosoftware_recommendation/observer</class>
            <method>refreshReportIndex</method>
          </brontosoftware_recommendation_refresh_index>
        </observers>
      </brontosoftware_connector_script_recommendation_event>
      <brontosoftware_connector_script_recommendation_test>
        <observers>
          <brontosoftware_connector_script_recommendation_test_handle>
            <type>singleton</type>
            <class>brontosoftware_recommendation/observer</class>
            <method>testPromotion</method>
          </brontosoftware_connector_script_recommendation_test_handle>
        </observers>
      </brontosoftware_connector_script_recommendation_test>
      <brontosoftware_connector_source_product>
        <observers>
          <brontosoftware_recommendation_source_product>
            <type>singleton</type>
            <class>brontosoftware_recommendation/observer</class>
            <method>pullProducts</method>
          </brontosoftware_recommendation_source_product>
        </observers>
      </brontosoftware_connector_source_product>
      <brontosoftware_connector_source_product_category>
        <observers>
          <brontosoftware_recoomendation_source_product_category>
            <type>singleton</type>
            <class>brontosoftware_recommendation/observer</class>
            <method>pullCategories</method>
          </brontosoftware_recoomendation_source_product_category>
        </observers>
      </brontosoftware_connector_source_product_category>
      <brontosoftware_email_message_extras>
        <observers>
          <brontosoftware_recommendation_email_message_extras>
            <type>singleton</type>
            <class>brontosoftware_recommendation/observer</class>
            <method>messageExtras</method>
          </brontosoftware_recommendation_email_message_extras>
        </observers>
      </brontosoftware_email_message_extras>
      <brontosoftware_email_template_filter>
        <observers>
          <brontosoftware_recommendation_email_template_filter>
            <type>singleton</type>
            <class>brontosoftware_recommendation/observer</class>
            <method>eventFilter</method>
          </brontosoftware_recommendation_email_template_filter>
        </observers>
      </brontosoftware_email_template_filter>
    </events>
  </global>
</config>
