<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Redemption>
      <version>3.0.0</version>
    </Brontosoftware_Redemption>
  </modules>
  <global>
    <helpers>
      <brontosoftware_redemption>
        <class>Brontosoftware_Redemption_Helper</class>
      </brontosoftware_redemption>
    </helpers>
    <models>
      <brontosoftware_redemption>
        <class>Brontosoftware_Redemption_Model</class>
      </brontosoftware_redemption>
    </models>
    <resources>
      <brontosoftware_redemption_setup>
        <setup>
          <module>Brontosoftware_Redemption</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_redemption_setup>
      <brontosoftware_redemption_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_redemption_read>
      <brontosoftware_redemption_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_redemption_write>
    </resources>
    <events>
      <brontosoftware_connector_integration_endpoint_additional>
        <observers>
          <brontosoftware_connector_redemption_endpoint_handle>
            <type>singleton</type>
            <class>brontosoftware_redemption/observer</class>
            <method>integrationAdditional</method>
          </brontosoftware_connector_redemption_endpoint_handle>
        </observers>
      </brontosoftware_connector_integration_endpoint_additional>
    </events>
  </global>
  <frontend>
    <events>
      <sales_model_service_quote_submit_success>
        <observers>
          <brontosoftware_redemption_quote_submit_success>
            <type>singleton</type>
            <class>brontosoftware_redemption/observer</class>
            <method>pushChanges</method>
          </brontosoftware_redemption_quote_submit_success>
        </observers>
      </sales_model_service_quote_submit_success>
    </events>
  </frontend>
</config>
