<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Rating>
      <version>3.0.0</version>
    </Brontosoftware_Rating>
  </modules>
  <global>
    <helpers>
      <brontosoftware_rating>
        <class>Brontosoftware_Rating_Helper</class>
      </brontosoftware_rating>
    </helpers>
    <models>
      <brontosoftware_rating>
        <class>Brontosoftware_Rating_Model</class>
      </brontosoftware_rating>
    </models>
    <resources>
      <brontosoftware_rating_setup>
        <setup>
          <module>Brontosoftware_Rating</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_rating_setup>
      <brontosoftware_rating_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_rating_read>
      <brontosoftware_rating_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_rating_write>
    </resources>
    <events>
      <brontosoftware_product_extra_fields>
        <observers>
          <brontosoftware_rating_extra_fields>
            <type>singleton</type>
            <class>brontosoftware_rating/observer</class>
            <method>setExtraFields</method>
          </brontosoftware_rating_extra_fields>
        </observers>
      </brontosoftware_product_extra_fields>
      <brontosoftware_product_default_fields>
        <observers>
          <brontosoftware_rating_default_fields_handle>
            <type>singleton</type>
            <class>brontosoftware_rating/observer</class>
            <method>setDefaultFields</method>
          </brontosoftware_rating_default_fields_handle>
        </observers>
      </brontosoftware_product_default_fields>
      <brontosoftware_product_custom_fields>
        <observers>
          <brontosoftware_rating_custom_fields_handle>
            <type>singleton</type>
            <class>brontosoftware_rating/observer</class>
            <method>setCustomFields</method>
          </brontosoftware_rating_custom_fields_handle>
        </observers>
      </brontosoftware_product_custom_fields>
      <brontosoftware_product_attribute_fields>
        <observers>
          <brontosoftware_rating_attribute_fields>
            <type>singleton</type>
            <class>brontosoftware_rating/observer</class>
            <method>setFieldAttributes</method>
          </brontosoftware_rating_attribute_fields>
        </observers>
      </brontosoftware_product_attribute_fields>
    </events>
  </global>
</config>
