<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Integration>
      <version>3.0.0</version>
    </Brontosoftware_Integration>
  </modules>
  <global>
    <blocks>
      <brontosoftware_integration>
        <class>Brontosoftware_Integration_Block</class>
      </brontosoftware_integration>
    </blocks>
    <helpers>
      <brontosoftware_integration>
        <class>Brontosoftware_Integration_Helper</class>
      </brontosoftware_integration>
    </helpers>
    <models>
      <brontosoftware_integration>
        <class>Brontosoftware_Integration_Model</class>
      </brontosoftware_integration>
    </models>
    <resources>
      <brontosoftware_integration_setup>
        <setup>
          <module>Brontosoftware_Integration</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_integration_setup>
      <brontosoftware_integration_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_integration_read>
      <brontosoftware_integration_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_integration_write>
    </resources>
    <events>
      <brontosoftware_connector_gather_endpoints>
        <observers>
          <brontosoftware_integration_gather_endpoints_handle>
            <type>singleton</type>
            <class>brontosoftware_integration/observer</class>
            <method>gatherEndpoints</method>
          </brontosoftware_integration_gather_endpoints_handle>
        </observers>
      </brontosoftware_connector_gather_endpoints>
      <brontosoftware_connector_integration_endpoint>
        <observers>
          <brontosoftware_connector_integration_endpoint_handle>
            <type>singleton</type>
            <class>brontosoftware_integration/observer</class>
            <method>endpointInfo</method>
          </brontosoftware_connector_integration_endpoint_handle>
        </observers>
      </brontosoftware_connector_integration_endpoint>
      <brontosoftware_connector_advanced_endpoint_additional>
        <observers>
          <brontosoftware_connector_integration_advanced_additional>
            <type>singleton</type>
            <class>brontosoftware_integration/observer</class>
            <method>advancedAdditional</method>
          </brontosoftware_connector_integration_advanced_additional>
        </observers>
      </brontosoftware_connector_advanced_endpoint_additional>
    </events>
  </global>
  <frontend>
    <routers>
      <brontosoftware_connector>
        <args>
          <modules>
            <brontosoftware_integration before="Brontosoftware_Connector">Brontosoftware_Integration</brontosoftware_integration>
          </modules>
        </args>
      </brontosoftware_connector>
    </routers>
    <layout>
      <updates>
        <brontosoftware_integration>
          <file>brontosoftware/integration.xml</file>
        </brontosoftware_integration>
      </updates>
    </layout>
  </frontend>
</config>
