<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Email>
      <version>3.0.0</version>
    </Brontosoftware_Email>
  </modules>
  <global>
    <helpers>
      <brontosoftware_email>
        <class>Brontosoftware_Email_Helper</class>
      </brontosoftware_email>
    </helpers>
    <models>
      <brontosoftware_email>
        <class>Brontosoftware_Email_Model</class>
        <resourceModel>brontosoftware_email_mysql4</resourceModel>
      </brontosoftware_email>
      <brontosoftware_email_mysql4>
        <class>Brontosoftware_Email_Model_Mysql4</class>
        <entities>
          <trigger>
            <table>brontosoftware_email_trigger</table>
          </trigger>
        </entities>
      </brontosoftware_email_mysql4>
      <core>
        <rewrite>
          <email_template_mailer>Brontosoftware_Email_Model_Template_Mailer</email_template_mailer>
          <email_template>Brontosoftware_Email_Model_Template</email_template>
        </rewrite>
      </core>
      <adminhtml>
        <rewrite>
          <system_config_source_email_template>Brontosoftware_Email_Model_System_Config_Source_Email_Template</system_config_source_email_template>
        </rewrite>
      </adminhtml>
    </models>
    <resources>
      <brontosoftware_email_setup>
        <setup>
          <module>Brontosoftware_Email</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_email_setup>
      <brontosoftware_email_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_email_write>
      <brontosoftware_email_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_email_read>
    </resources>
    <events>
      <wishlist_save_after>
        <observers>
          <brontosoftware_email_wishlist_save_after_handle>
            <type>singleton</type>
            <class>brontosoftware_email/trigger_observer</class>
            <method>updateWishlistTrigger</method>
          </brontosoftware_email_wishlist_save_after_handle>
        </observers>
      </wishlist_save_after>
      <wishlist_delete_after>
        <observers>
          <brontosoftware_email_wishlist_delete_after_handle>
            <type>singleton</type>
            <class>brontosoftware_email/trigger_observer</class>
            <method>removeWishlistTrigger</method>
          </brontosoftware_email_wishlist_delete_after_handle>
        </observers>
      </wishlist_delete_after>
      <sales_model_service_quote_submit_success>
        <observers>
          <brontosoftware_email_quote_submitted>
            <type>singleton</type>
            <class>brontosoftware_email/trigger_observer</class>
            <method>updateQuoteTrigger</method>
          </brontosoftware_email_quote_submitted>
        </observers>
      </sales_model_service_quote_submit_success>
      <sales_quote_delete_after>
        <observers>
          <brontosoftware_email_quote_delete_after_handle>
            <type>singleton</type>
            <class>brontosoftware_email/trigger_observer</class>
            <method>removeQuoteTrigger</method>
          </brontosoftware_email_quote_delete_after_handle>
        </observers>
      </sales_quote_delete_after>
      <sales_order_save_after>
        <observers>
          <brontosoftware_email_order_save_after_handle>
            <type>singleton</type>
            <class>brontosoftware_email/trigger_observer</class>
            <method>updateOrderTrigger</method>
          </brontosoftware_email_order_save_after_handle>
        </observers>
      </sales_order_save_after>
      <sales_order_delete_after>
        <observers>
          <brontosoftware_email_order_delete_after_handle>
            <type>singleton</type>
            <class>brontosoftware_email/trigger_observer</class>
            <method>removeOrderTrigger</method>
          </brontosoftware_email_order_delete_after_handle>
        </observers>
      </sales_order_delete_after>
      <brontosoftware_connector_gather_endpoints>
        <observers>
          <brontosoftware_email_gather_endpoints_handle>
            <type>singleton</type>
            <class>brontosoftware_email/observer</class>
            <method>gatherEndpoints</method>
          </brontosoftware_email_gather_endpoints_handle>
        </observers>
      </brontosoftware_connector_gather_endpoints>
      <brontosoftware_connector_email_endpoint>
        <observers>
          <brontosoftware_connector_email_endpoint_handle>
            <type>singleton</type>
            <class>brontosoftware_email/observer</class>
            <method>endpointInfo</method>
          </brontosoftware_connector_email_endpoint_handle>
        </observers>
      </brontosoftware_connector_email_endpoint>
      <brontosoftware_connector_advanced_endpoint_additional>
        <observers>
          <brontosoftware_connector_email_advanced>
            <type>singleton</type>
            <class>brontosoftware_email/observer</class>
            <method>advancedAdditional</method>
          </brontosoftware_connector_email_advanced>
        </observers>
      </brontosoftware_connector_advanced_endpoint_additional>
      <brontosoftware_connector_script_email_test>
        <observers>
          <brontosoftware_email_script_test_handle>
            <type>singleton</type>
            <class>brontosoftware_email/observer</class>
            <method>testImport</method>
          </brontosoftware_email_script_test_handle>
        </observers>
      </brontosoftware_connector_script_email_test>
      <brontosoftware_connector_script_email_historical>
        <observers>
          <brontosoftware_email_script_historical_handle>
            <type>singleton</type>
            <class>brontosoftware_email/observer</class>
            <method>historicalImport</method>
          </brontosoftware_email_script_historical_handle>
        </observers>
      </brontosoftware_connector_script_email_historical>
      <brontosoftware_connector_queue_delivery_transform>
        <observers>
          <brontosoftware_connector_queue_delivery_transform_handle>
            <type>singleton</type>
            <class>brontosoftware_email/observer</class>
            <method>transformEvent</method>
          </brontosoftware_connector_queue_delivery_transform_handle>
        </observers>
      </brontosoftware_connector_queue_delivery_transform>
      <brontosoftware_connector_trigger_flush>
        <observers>
          <brontosoftware_email_flush_pending_messages>
            <type>singleton</type>
            <class>brontosoftware_email/observer</class>
            <method>triggerFlush</method>
          </brontosoftware_email_flush_pending_messages>
        </observers>
      </brontosoftware_connector_trigger_flush>
      <brontosoftware_connector_script_email_event>
        <observers>
          <brontosoftware_email_event_handle>
            <type>singleton</type>
            <class>brontosoftware_email/observer</class>
            <method>flushMessages</method>
          </brontosoftware_email_event_handle>
        </observers>
      </brontosoftware_connector_script_email_event>
      <brontosoftware_email_setting_sync_after>
        <observers>
          <brontosoftware_email_setting_sync_handle>
            <type>singleton</type>
            <class>brontosoftware_email/observer</class>
            <method>settingSync</method>
          </brontosoftware_email_setting_sync_handle>
        </observers>
      </brontosoftware_email_setting_sync_after>
      <brontosoftware_connector_redirect_email>
        <observers>
          <brontosoftware_email_redirect_path>
            <type>singleton</type>
            <class>brontosoftware_email/redirect</class>
            <method>redirectPath</method>
          </brontosoftware_email_redirect_path>
        </observers>
      </brontosoftware_connector_redirect_email>
    </events>
  </global>
  <frontend>
    <events>
      <sales_quote_save_after>
        <observers>
          <brontosoftware_email_quote_save_after_handle>
            <type>singleton</type>
            <class>brontosoftware_email/trigger_observer</class>
            <method>updateQuoteTrigger</method>
          </brontosoftware_email_quote_save_after_handle>
        </observers>
      </sales_quote_save_after>
      <brontosoftware_cart_fiddle>
        <observers>
          <brontosoftware_email_cart_fiddle>
            <type>singleton</type>
            <class>brontosoftware_email/trigger_observer</class>
            <method>updateQuoteTrigger</method>
          </brontosoftware_email_cart_fiddle>
        </observers>
      </brontosoftware_cart_fiddle>
    </events>
  </frontend>
</config>
