<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Optin>
      <version>3.0.0</version>
    </Brontosoftware_Optin>
  </modules>
  <global>
    <blocks>
      <brontosoftware_optin>
        <class>Brontosoftware_Optin_Block</class>
      </brontosoftware_optin>
    </blocks>
    <helpers>
      <brontosoftware_optin>
        <class>Brontosoftware_Optin_Helper</class>
      </brontosoftware_optin>
    </helpers>
    <models>
      <brontosoftware_optin>
        <class>Brontosoftware_Optin_Model</class>
      </brontosoftware_optin>
    </models>
    <resources>
      <brontosoftware_optin_setup>
        <setup>
          <module>Brontosoftware_Optin</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_optin_setup>
      <brontosoftware_optin_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_optin_read>
      <brontosoftware_optin_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_optin_write>
    </resources>
    <events>
      <brontosoftware_connector_script_optin_unsub>
        <observers>
          <brontosoftware_optin_sync_subscribes>
            <type>singleton</type>
            <class>brontosoftware_optin/observer</class>
            <method>syncSubscribes</method>
          </brontosoftware_optin_sync_subscribes>
        </observers>
      </brontosoftware_connector_script_optin_unsub>
      <brontosoftware_connector_queue_subscriber_transform>
        <observers>
          <brontosoftware_connector_queue_subscriber_transform_handle>
            <type>singleton</type>
            <class>brontosoftware_optin/observer</class>
            <method>transformEvent</method>
          </brontosoftware_connector_queue_subscriber_transform_handle>
        </observers>
      </brontosoftware_connector_queue_subscriber_transform>
      <sales_model_service_quote_submit_success>
        <observers>
          <brontosoftware_optin_checkout_newsletter_handle>
            <type>singleton</type>
            <class>brontosoftware_optin/observer</class>
            <method>subscribeAfterCheckout</method>
          </brontosoftware_optin_checkout_newsletter_handle>
        </observers>
      </sales_model_service_quote_submit_success>
      <newsletter_subscriber_save_after>
        <observers>
          <brontosoftware_optin_newsletter_save_after_handle>
            <type>singleton</type>
            <class>brontosoftware_optin/observer</class>
            <method>pushChanges</method>
          </brontosoftware_optin_newsletter_save_after_handle>
        </observers>
      </newsletter_subscriber_save_after>
      <brontosoftware_connector_advanced_endpoint_additional>
        <observers>
          <brontosoftware_connector_optin_advanced>
            <type>singleton</type>
            <class>brontosoftware_optin/observer</class>
            <method>advancedAdditional</method>
          </brontosoftware_connector_optin_advanced>
        </observers>
      </brontosoftware_connector_advanced_endpoint_additional>
      <brontosoftware_connector_script_optin_test>
        <observers>
          <brontosoftware_connector_optin_test>
            <type>singleton</type>
            <class>brontosoftware_optin/observer</class>
            <method>testImport</method>
          </brontosoftware_connector_optin_test>
        </observers>
      </brontosoftware_connector_script_optin_test>
      <brontosoftware_connector_script_optin_historical>
        <observers>
          <brontosoftware_connector_optin_historical>
            <type>singleton</type>
            <class>brontosoftware_optin/observer</class>
            <method>historicalImport</method>
          </brontosoftware_connector_optin_historical>
        </observers>
      </brontosoftware_connector_script_optin_historical>
      <brontosoftware_connector_gather_endpoints>
        <observers>
          <brontosoftware_optin_gather_endpoints_handle>
            <type>singleton</type>
            <class>brontosoftware_optin/observer</class>
            <method>gatherEndpoints</method>
          </brontosoftware_optin_gather_endpoints_handle>
        </observers>
      </brontosoftware_connector_gather_endpoints>
      <brontosoftware_connector_optin_endpoint>
        <observers>
          <brontosoftware_connector_optin_endpoint_handle>
            <type>singleton</type>
            <class>brontosoftware_optin/observer</class>
            <method>endpointInfo</method>
          </brontosoftware_connector_optin_endpoint_handle>
        </observers>
      </brontosoftware_connector_optin_endpoint>
    </events>
  </global>
  <frontend>
    <routers>
      <brontosoftware_connector>
        <args>
          <modules>
            <brontosoftware_optin before="Brontosoftware_Connector">Brontosoftware_Optin</brontosoftware_optin>
          </modules>
        </args>
      </brontosoftware_connector>
    </routers>
    <layout>
      <updates>
        <brontosoftware_optin>
          <file>brontosoftware/optin.xml</file>
        </brontosoftware_optin>
      </updates>
    </layout>
  </frontend>
</config>
