<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Product>
      <version>3.0.0</version>
    </Brontosoftware_Product>
  </modules>
  <global>
    <helpers>
      <brontosoftware_product>
        <class>Brontosoftware_Product_Helper</class>
      </brontosoftware_product>
    </helpers>
    <models>
      <brontosoftware_product>
        <class>Brontosoftware_Product_Model</class>
      </brontosoftware_product>
    </models>
    <resources>
      <brontosoftware_product_setup>
        <setup>
          <module>Brontosoftware_Product</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_product_setup>
      <brontosoftware_product_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_product_read>
      <brontosoftware_product_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_product_write>
    </resources>
    <events>
      <brontosoftware_connector_queue_product_transform>
        <observers>
          <brontosoftware_connector_queue_product_transform_handle>
            <type>singleton</type>
            <class>brontosoftware_product/observer</class>
            <method>transformEvent</method>
          </brontosoftware_connector_queue_product_transform_handle>
        </observers>
      </brontosoftware_connector_queue_product_transform>
      <catalog_product_save_after>
        <observers>
          <brontosoftware_product_catalog_product_save_after>
            <type>singleton</type>
            <class>brontosoftware_product/observer</class>
            <method>pushChangesToAll</method>
          </brontosoftware_product_catalog_product_save_after>
        </observers>
      </catalog_product_save_after>
      <brontosoftware_product_extra_fields>
        <observers>
          <brontosoftware_product_extra_fields_handle>
            <type>singleton</type>
            <class>brontosoftware_product/observer</class>
            <method>setExtraFields</method>
          </brontosoftware_product_extra_fields_handle>
        </observers>
      </brontosoftware_product_extra_fields>
      <brontosoftware_product_default_fields>
        <observers>
          <brontosoftware_product_default_fields_handle>
            <type>singleton</type>
            <class>brontosoftware_product/observer</class>
            <method>setDefaultFields</method>
          </brontosoftware_product_default_fields_handle>
        </observers>
      </brontosoftware_product_default_fields>
      <brontosoftware_product_custom_fields>
        <observers>
          <brontosoftware_product_custom_fields_handle>
            <type>singleton</type>
            <class>brontosoftware_product/observer</class>
            <method>setCustomFields</method>
          </brontosoftware_product_custom_fields_handle>
        </observers>
      </brontosoftware_product_custom_fields>
      <brontosoftware_product_attribute_fields>
        <observers>
          <brontosoftware_product_attribute_fields_handle>
            <type>singleton</type>
            <class>brontosoftware_product/observer</class>
            <method>setFieldAttributes</method>
          </brontosoftware_product_attribute_fields_handle>
        </observers>
      </brontosoftware_product_attribute_fields>
      <brontosoftware_connector_script_product_test>
        <observers>
          <brontosoftware_product_script_test_handle>
            <type>singleton</type>
            <class>brontosoftware_product/observer</class>
            <method>testImport</method>
          </brontosoftware_product_script_test_handle>
        </observers>
      </brontosoftware_connector_script_product_test>
      <brontosoftware_connector_script_product_historical>
        <observers>
          <brontosoftware_product_script_historical_handle>
            <type>singleton</type>
            <class>brontosoftware_product/observer</class>
            <method>historicalImport</method>
          </brontosoftware_product_script_historical_handle>
        </observers>
      </brontosoftware_connector_script_product_historical>
      <brontosoftware_connector_gather_endpoints>
        <observers>
          <brontosoftware_product_gather_endpoints_handle>
            <type>singleton</type>
            <class>brontosoftware_product/observer</class>
            <method>gatherEndpoints</method>
          </brontosoftware_product_gather_endpoints_handle>
        </observers>
      </brontosoftware_connector_gather_endpoints>
      <brontosoftware_connector_product_endpoint>
        <observers>
          <brontosoftware_connector_product_endpoint_handle>
            <type>singleton</type>
            <class>brontosoftware_product/observer</class>
            <method>endpointInfo</method>
          </brontosoftware_connector_product_endpoint_handle>
        </observers>
      </brontosoftware_connector_product_endpoint>
      <brontosoftware_connector_advanced_endpoint_additional>
        <observers>
          <brontosoftware_connector_product_advanced>
            <type>singleton</type>
            <class>brontosoftware_product/observer</class>
            <method>advancedAdditional</method>
          </brontosoftware_connector_product_advanced>
        </observers>
      </brontosoftware_connector_advanced_endpoint_additional>
      <brontosoftware_connector_script_product_event>
        <observers>
          <brontosoftware_connector_product_event>
            <type>singleton</type>
            <class>brontosoftware_product/observer</class>
            <method>sendProductUpdates</method>
          </brontosoftware_connector_product_event>
        </observers>
      </brontosoftware_connector_script_product_event>
    </events>
  </global>
</config>
