<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Reward>
      <version>3.0.0</version>
    </Brontosoftware_Reward>
  </modules>
  <global>
    <helpers>
      <brontosoftware_reward>
        <class>Brontosoftware_Reward_Helper</class>
      </brontosoftware_reward>
    </helpers>
    <models>
      <brontosoftware_reward>
        <class>Brontosoftware_Reward_Model</class>
      </brontosoftware_reward>
    </models>
    <resources>
      <brontosoftware_reward_setup>
        <setup>
          <module>Brontosoftware_Reward</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_reward_setup>
      <brontosoftware_reward_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_reward_write>
      <brontosoftware_reward_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_reward_read>
    </resources>
    <events>
      <brontosoftware_contact_extra_contact_attributes>
        <observers>
          <brontosoftware_reward_contact_extra_attributes>
            <type>singleton</type>
            <class>brontosoftware_reward/observer</class>
            <method>contactLoadFields</method>
          </brontosoftware_reward_contact_extra_attributes>
        </observers>
      </brontosoftware_contact_extra_contact_attributes>
      <brontosoftware_connector_contact_endpoint_additional>
        <observers>
          <brontosoftware_reward_contact_fields_attributes>
            <type>singleton</type>
            <class>brontosoftware_reward/observer</class>
            <method>contactAdditional</method>
          </brontosoftware_reward_contact_fields_attributes>
        </observers>
      </brontosoftware_connector_contact_endpoint_additional>
    </events>
  </global>
</config>
