<?xml version="1.0"?>
<config>
  <modules>
    <Brontosoftware_Inventory>
      <version>3.0.0</version>
    </Brontosoftware_Inventory>
  </modules>
  <global>
    <helpers>
      <brontosoftware_inventory>
        <class>Brontosoftware_Inventory_Helper</class>
      </brontosoftware_inventory>
    </helpers>
    <models>
      <brontosoftware_inventory>
        <class>Brontosoftware_Inventory_Model</class>
      </brontosoftware_inventory>
    </models>
    <resources>
      <brontosoftware_inventory_setup>
        <setup>
          <module>Brontosoftware_Inventory</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </brontosoftware_inventory_setup>
      <brontosoftware_inventory_read>
        <connection>
          <use>core_read</use>
        </connection>
      </brontosoftware_inventory_read>
      <brontosoftware_inventory_write>
        <connection>
          <use>core_write</use>
        </connection>
      </brontosoftware_inventory_write>
    </resources>
    <events>
      <brontosoftware_product_extra_fields>
        <observers>
          <brontosoftware_inventory_extra_fields>
            <type>singleton</type>
            <class>brontosoftware_inventory/observer</class>
            <method>setExtraFields</method>
          </brontosoftware_inventory_extra_fields>
        </observers>
      </brontosoftware_product_extra_fields>
      <brontosoftware_product_default_fields>
        <observers>
          <brontosoftware_inventory_default_fields_handle>
            <type>singleton</type>
            <class>brontosoftware_inventory/observer</class>
            <method>setDefaultFields</method>
          </brontosoftware_inventory_default_fields_handle>
        </observers>
      </brontosoftware_product_default_fields>
      <brontosoftware_product_attribute_fields>
        <observers>
          <brontosoftware_inventory_attribute_fields>
            <type>singleton</type>
            <class>brontosoftware_inventory/observer</class>
            <method>setFieldAttributes</method>
          </brontosoftware_inventory_attribute_fields>
        </observers>
      </brontosoftware_product_attribute_fields>
      <brontosoftware_product_custom_fields>
        <observers>
          <brontosoftware_inventory_custom_fields_handle>
            <type>singleton</type>
            <class>brontosoftware_inventory/observer</class>
            <method>setCustomFields</method>
          </brontosoftware_inventory_custom_fields_handle>
        </observers>
      </brontosoftware_product_custom_fields>
      <checkout_submit_all_after>
        <observers>
          <brontosoftware_inventory_stock_sheckout_submit>
            <type>singleton</type>
            <class>brontosoftware_inventory/observer</class>
            <method>checkoutSubmitAllAfter</method>
          </brontosoftware_inventory_stock_sheckout_submit>
        </observers>
      </checkout_submit_all_after>
      <sales_order_creditmemo_save_after>
        <observers>
          <brontosoftware_inventory_creditmemo_save_after>
            <type>singleton</type>
            <class>brontosoftware_inventory/observer</class>
            <method>creditMemoSaveAfter</method>
          </brontosoftware_inventory_creditmemo_save_after>
        </observers>
      </sales_order_creditmemo_save_after>
      <sales_order_item_cancel>
        <observers>
          <brontosoftware_inventory_order_item_cancel>
            <type>singleton</type>
            <class>brontosoftware_inventory/observer</class>
            <method>orderItemCancel</method>
          </brontosoftware_inventory_order_item_cancel>
        </observers>
      </sales_order_item_cancel>
    </events>
  </global>
</config>
