<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Reminder>
            <version>1.4.11</version>
        </Bronto_Reminder>
    </modules>
    <global>
        <helpers>
            <bronto_reminder>
                <class>Bronto_Reminder_Helper</class>
            </bronto_reminder>
        </helpers>
        <blocks>
            <bronto_reminder>
                <class>Bronto_Reminder_Block</class>
            </bronto_reminder>
        </blocks>
        <models>
            <bronto_reminder>
                <class>Bronto_Reminder_Model</class>
                <resourceModel>bronto_reminder_mysql4</resourceModel>
            </bronto_reminder>
            <bronto_reminder_mysql4>
                <class>Bronto_Reminder_Model_Mysql4</class>
                <entities>
                    <rule><table>bronto_reminder_rule</table></rule>
                    <website><table>bronto_reminder_rule_website</table></website>
                    <message><table>bronto_reminder_message</table></message>
                    <coupon><table>bronto_reminder_rule_coupon</table></coupon>
                    <log><table>bronto_reminder_rule_log</table></log>
                    <guest><table>bronto_guest_emails</table></guest>
                </entities>
            </bronto_reminder_mysql4>
        </models>
        <resources>
            <bronto_reminder_setup>
                <setup>
                    <module>Bronto_Reminder</module>
                </setup>
            </bronto_reminder_setup>
        </resources>
        <events>
            <salesrule_rule_get_coupon_types>
                <observers>
                    <bronto_reminder>
                        <class>bronto_reminder/observer</class>
                        <method>getCouponTypes</method>
                    </bronto_reminder>
                </observers>
            </salesrule_rule_get_coupon_types>
            <adminhtml_promo_quote_edit_tab_main_prepare_form>
                <observers>
                    <bronto_reminder>
                        <class>bronto_reminder/observer</class>
                        <method>updatePromoQuoteTabMainForm</method>
                    </bronto_reminder>
                </observers>
            </adminhtml_promo_quote_edit_tab_main_prepare_form>
        </events>
        <template>
            <email>
                <bronto_reminder_template module="bronto_reminder">
                    <label>Reminder Template</label>
                    <file>bronto/abandoned_cart.html</file>
                    <type>html</type>
                </bronto_reminder_template>
            </email>
        </template>
    </global>
    <default>
        <bronto_reminder>
            <settings>
                <enabled>0</enabled>
                <frequency>I</frequency>
                <interval>15</interval>
                <minutes>0</minutes>
                <limit>100</limit>
                <threshold>5</threshold>
                <identity>general</identity>
            </settings>
        </bronto_reminder>
    </default>
    <frontend>
        <routers>
            <bronto_reminder>
                <use>standard</use>
                <args>
                    <module>Bronto_Reminder</module>
                    <frontName>reminder</frontName>
                </args>
            </bronto_reminder>
        </routers>
        <events>
            <sales_quote_save_before>
                <observers>
                    <bronto_reminder_capture_guest_email_on_checkout>
                        <class>bronto_reminder/observer</class>
                        <method>storeGuestEmailCheckout</method>
                    </bronto_reminder_capture_guest_email_on_checkout>
                </observers>
            </sales_quote_save_before>
        </events>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_reminder before="Mage_Adminhtml">Bronto_Reminder_Adminhtml</bronto_reminder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <bronto_reminder_controller_action_predispatch>
                        <class>bronto_reminder/observer</class>
                        <method>checkBrontoRequirements</method>
                    </bronto_reminder_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
        <layout>
            <updates>
                <bronto_reminder>
                    <file>bronto/reminder.xml</file>
                </bronto_reminder>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <promo>
                            <children>
                                <bronto_reminder module="bronto_reminder">
                                    <title>Bronto Reminder Emails</title>
                                    <sort_order>20</sort_order>
                                </bronto_reminder>
                            </children>
                        </promo>
                        <system>
                           <children>
                               <config>
                                   <children>
                                       <bronto_reminder module="bronto_reminder">
                                           <title>Bronto Reminder Emails Section</title>
                                       </bronto_reminder>
                                   </children>
                               </config>
                           </children>
                       </system>
                   </children>
               </admin>
           </resources>
        </acl>
        <menu>
            <promo>
                <children>
                    <bronto_reminder module="bronto_reminder">
                        <title>Bronto Reminder Emails</title>
                        <action>adminhtml/reminders</action>
                        <sort_order>20</sort_order>
                        <depends>
                            <module>Bronto_Reminder</module>
                            <config>bronto_reminder/settings/enabled</config>
                        </depends>
                        <resource>bronto_reminder/settings</resource>
                    </bronto_reminder>
                </children>
            </promo>
        </menu>
    </adminhtml>
    <crontab>
        <jobs>
            <bronto_reminder_send_notification>
                <run><model>bronto_reminder/observer::scheduledNotification</model></run>
            </bronto_reminder_send_notification>
        </jobs>
    </crontab>

    <phpunit>
	<suite>
	    <modules>
		<Bronto_Reminder />
	    </modules>
	</suite>
    </phpunit>
</config>
