<?xml version="1.0"?>
<config>
    <sections>
        <bronto_reminder translate="label" module="bronto_reminder">
            <label>Reminder Emails</label>
            <tab>bronto</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <about>
                    <frontend_type>text</frontend_type>
                    <frontend_model>bronto_reminder/adminhtml_system_config_about</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </about>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>bronto_reminder/adminhtml_system_config_settings</frontend_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Module</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>bronto_common/adminhtml_system_config_form_field</frontend_model>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <allow_send translate="label">
                            <label>Allow Sending Reminders</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Selecting 'Yes' will allow emails to being sending.  'No' will allow matching customers but will not send emails</comment>
                        </allow_send>
                        <frequency translate="label">
                            <label>Frequency</label>
                            <depends><enabled>1</enabled></depends>
                            <frontend_type>select</frontend_type>
                            <source_model>bronto_common/system_config_source_cron_frequency</source_model>
                            <backend_model>bronto_reminder/system_config_backend_cron</backend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </frequency>
                        <interval translate="label">
                            <label>Interval</label>
                            <depends><enabled>1</enabled></depends>
                            <depends><frequency>I</frequency></depends>
                            <frontend_type>select</frontend_type>
                            <source_model>bronto_common/system_config_source_cron_minutes</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Set this value larger than your cron.php launch period.</comment>
                        </interval>
                        <minutes translate="label">
                            <label>Minute of the Hour</label>
                            <depends><enabled>1</enabled></depends>
                            <depends><frequency>H</frequency></depends>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Valid range: 0-59 (default 0).</comment>
                        </minutes>
                        <time translate="label">
                            <label>Start Time</label>
                            <depends><enabled>1</enabled></depends>
                            <frontend_type>time</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </time>
                        <limit translate="label">
                            <label>Maximum Emails per Run</label>
                            <depends><enabled>1</enabled></depends>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </limit>
                        <threshold translate="label">
                            <label>Email Send Failure Threshold</label>
                            <depends><enabled>1</enabled></depends>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Empty value disables this limitation. If not limited, the emails may get stuck sending over and over.</comment>
                        </threshold>
                        <identity translate="label">
                            <label>Reminder Email Sender</label>
                            <depends><enabled>1</enabled></depends>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </identity>
                    </fields>
                </settings>
                <cron_list>
                    <frontend_type>text</frontend_type>
                    <frontend_model>bronto_reminder/adminhtml_system_config_cron</frontend_model>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </cron_list>
            </groups>
        </bronto_reminder>
    </sections>
</config>
