<?xml version="1.0"?>
<!--
/**
 * @category  Bronto
 * @package PermissionChecker
 * @author    Jamie Kahgee <jamie.kahgee@atlanticbt.com>
 * @copyright 2012 Atlantic BT
 * @license   http://www.atlanticbt.com/ Atlantic BT
 */
-->
<config>
    <modules>
        <Bronto_PermissionChecker>
            <version>0.1.0</version>
        </Bronto_PermissionChecker>
    </modules>

    <global>
        <blocks>
            <bronto_permissionchecker>
                <class>Bronto_PermissionChecker_Block</class>
            </bronto_permissionchecker>
        </blocks>

        <helpers>
            <bronto_permissionchecker>
                <class>Bronto_PermissionChecker_Helper</class>
            </bronto_permissionchecker>
        </helpers>

        <models>
            <bronto_permissionchecker>
                <class>Bronto_PermissionChecker_Model</class>
            </bronto_permissionchecker>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_permissionchecker before="Mage_Adminhtml">Bronto_PermissionChecker_Adminhtml</bronto_permissionchecker>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<phpunit>
	    <suite>
		<modules>
	            <Bronto_PermissionChecker />
		</modules>
	    </suite>
	</phpunit>
    <default>
        <permission_checker>
            <settings>
                <directories>755</directories>
                <files>644</files>
                <exclude>media, var, errors, build, .git, .svn, shell, pkginfo, includes</exclude>
            </settings>
        </permission_checker>
    </default>
</config>
